<h1>Editing Friend</h1>
<br/>
<%= render 'form', friend: @friend %>
<br/>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
<%= link_to 'Show', @friend, class:"btn btn-secondary" %>
<p>  </p>
<%= button_to 'Delete', @friend, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
<p> </p>
<%= link_to 'Back', friends_path, class:"btn btn-dark" %>
</div>